# Виртуальное окружение
myenv/
venv/

# Файлы/папки с настройками IDE
.vscode/
.idea/
*.code-workspace

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.pot
*.pyc
*.pyo

# Файлы окружения
.env
.env.*

# Бэкапы и временные файлы редакторов
*.swp
*.swo
*.bak
*.tmp

# Файлы macOS
.DS_Store

# Локальные файлы базы данных
*.sqlite3

# Файлы, загружаемые пользователями (если применимо)
media/
